<div class="contenedor container ">
    <div class="logotipo">
        <img src="assets/logoblancosincontorno.png" alt="">
    </div>

    <div class="redes">
        <div class="linkedin">
            <a href="https://www.linkedin.com/in/scriptdog-9a96b2244/">
                <i class="fa-brands fa-linkedin fa-2x ms-3"></i>
            </a>
        </div>
        
        <div class="telefono">
            <a href="#contact">
                <i class="fa-solid fa-phone fa-2x ms-3"></i> 
            </a>           
        </div>
         
        
        <div class="email">
            <a href="#contact">
                <i class="fa-solid fa-envelope fa-2x ms-3"></i>
            </a> 
        </div>
        
         
        <div class="correo">
            <a href="">scriptdog@scriptdog.cl</a>
        </div>
           
    </div>
    
        
    
</div>