.contenedor{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: center;
    height: 600px;
    
}

.titulo{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-column: 1/3;
    
}

.titulo h1{
    color: aliceblue;
    font-family: Dosis;
    font-weight: bolder;
    font-size: 100px;
    margin-top: 30px; 
}

form{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto ;
}

.nombre{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

.email{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

.mensaje{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    
}

label{
    color: aliceblue;
    font-size: 20px;
    font-family: Dosis;
    font-weight:600;
    margin-bottom: 5px;
}

::placeholder{
    color: rgba(0, 0, 0, 0.644);    
}

input{
    border-radius: 10px;
    height: 45px;
    width: 350px;
    border: 0px ;
    margin-bottom: 20px;
    background-color: rgba(240, 248, 255, 0.5);
    padding: 10px;
    box-sizing: border-box;
}

textarea{
    resize: none;
    border-radius: 10px;
    height: 150px;
    width: 500px;
    margin-bottom: 10px;
    background-color: rgba(240, 248, 255, 0.5);
    padding: 10px;
    box-sizing: border-box;
}

button{
    border-radius: 10px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    font-weight: 300;
    font-family: Dosis;   
}

.redes{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    height: 250px;
    width: 250px;
    color: aliceblue;
}

.telefono{
    display: grid;
    justify-items: center;
    align-items: center;
}

.correo{
    display: grid;
    justify-items: center;
    align-items: center;
}

.linkedin{
    display: grid;
    justify-items: center;
    align-items: center;
}

a{
    color: aliceblue;
}

@media (max-width: 1024px){
    .contenedor{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 200px 300px 200px;
        align-items: center;
        justify-items: center;
        height: 700px; 
        
    }

    .titulo{
        display: grid;
        align-items: center;
        justify-items: center;
        grid-column: 1/2;     
    }

    form{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto ;
    }

    .redes{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        height: 10px;
        width: 400px;
        color: aliceblue;
        margin-bottom: 150px;
        margin-top: 200px;
    }

    .telefono{
        display: grid;
        align-items: center;
        align-content: center;
    }
    
    .correo{
        display: grid;
        align-items: center;
        align-content: center;
    }
    
    .linkedin{
        display: grid;
        align-items: center;
        align-content: center;
        margin-bottom: 36px;
    }
}


@media (max-width:800px){
    textarea{
        width: 500px;
    }

    form{
        
        justify-content: center;
    }
}

@media (max-width:640px){
    textarea{
        width: 400px;
    }

    .contenedor{
        padding: 0;
    }

    .titulo h1{
        color: aliceblue;
        font-family: Dosis;
        font-weight: bolder;
        font-size: 70px;
        margin-top: 30px; 
    }
    
    input{
        width: 300px;
    }
    
    textarea{
        width: 300px;
    }
}

@media (max-width:414px){
    .redes{
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: auto auto ;
        margin-top: 200px;
        height: 10px;
        width: 400px;
        color: aliceblue;
        font-size: small;
        margin-bottom: 150px;
    }
}

@media (max-width:390px){
    .redes{
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: auto auto ;
        margin-top: 200px;
        height: 10px;
        width: 300px;
        color: aliceblue;
        font-size: small;
        margin-bottom: 150px;
    }
    
    .contenedor{
        height: 750px;
    }
}

@media (max-width:375px){
    .redes{
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: auto auto ;
        margin-top: 200px;
        height: 10px;
        width: 300px;
        color: aliceblue;
        font-size: small;
        margin-bottom: 150px;
    }
    
    .contenedor{
        height: 750px;
    }
}

@media (max-width:360px){
    .redes{
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: auto auto ;
        margin-top: 200px;
        height: 10px;
        width: 300px;
        color: aliceblue;
        font-size: small;
        margin-bottom: 150px;
    }
    
    .contenedor{
        height: 750px;
    }
}