

<div class="contenedor container">  

    <div class="titulo" data-aos="zoom-in">
        <h1>CONTACTO</h1>
    </div>

    <form action="https://formsubmit.co/medc1610@gmail.com" method="POST" data-aos="zoom-in">
        <div class="nombre">
            <label for="text">Nombre</label>
            <input type="text" name="name" placeholder="Ingresa tu nombre" required>        
        </div>

        <div class="email">
            <label for="text">Correo</label>
            <input type="email" name="email" placeholder="ejemplo@ejemplo.com" required>      
        </div>

        <div class="mensaje">
            <label for="text">Mensaje</label>
            <textarea type="text" name="message" placeholder="Ingrese su mensaje" required></textarea>
        </div>

        <div class="boton">            
            <button type="submit" class="btn btn-light">Enviar</button>
        </div>          
    </form>

    <div class="redes" >
        <div class="telefono">
            <i class="fa-solid fa-phone fa-2x"></i>
            <h4>+569-772-160-59</h4>
        </div>
        <div class="correo">
            <i class="fa-solid fa-envelope fa-2x"></i>
            <h4>scriptdogsolution@gmail.com</h4>
        </div>        
    </div>
</div>