    
    <div class="contenedor container">    
        <div class="titulo" data-aos="zoom-in" data-aos-duration="1500">
            <h1>¿Quienes somos?</h1>
            <div class="caja"></div>
        </div>
        <div class="descripcion" data-aos="zoom-in" data-aos-duration="1500">
        <p>
            Somos una empresa de servicios profesionales en el sector de las nuevas tecnologías de la información, comunicación y transformación digital. <br> 
            Seremos la mejor empresa que puedas tener como socio tecnológico para tus desafíos.  <br>
            Desarrollaremos  tus proyectos apoyándote y te acompañaremos en todo el proceso de creación  desde el comienzo hasta la entrega final. <br>
            Nuestro compromiso es lograr que tus objetivos se cumplan.
        </p>        
        </div>
    </div>
