<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <img class="logo1" src="assets/logoblancosincontorno.png" alt="">
        <div class="redes">
            <div class="linkedin">
                <a href="https://www.linkedin.com/in/scriptdog-9a96b2244/">
                    <i class="fa-brands fa-linkedin fa-2x ms-3"></i>
                </a>
            </div>
            
            <div class="telefono">
                <a href="#contact">
                    <i class="fa-solid fa-phone fa-2x ms-3"></i> 
                </a>           
            </div>
            <div class="email">
                <a href="#contact">
                    <i class="fa-solid fa-envelope fa-2x ms-3"></i>
                </a> 
            </div>
        </div>     
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
            <img  class="logo2" src="assets/logonegrosincontorno.png" alt="">
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="contenedor">
                <div class="list-group"> 
                    <a  href="#inicio"><button type="button" class="btn btn-dark">INICIO</button></a> 
                    <a  href="#nosotros"><button type="button" class="btn btn-dark">NOSOTROS</button></a> 
                    <a  href="#servicio"><button type="button" class="btn btn-dark">SERVICIO</button></a>
                    <a  href="#partners"><button type="button" class="btn btn-dark">SOCIOS</button></a>
                    <a  href="#contact"><button type="button" class="btn btn-dark">CONTACTO</button></a>
                </div>
                <div class="contacto">
                    <div class="numero">
                        <i class="fa-solid fa-phone fa-2x"></i>
                        <h4>+569-772-160-59</h4>
                    </div>
                    <div class="correo">
                        <i class="fa-solid fa-envelope fa-2x"></i>
                        <h4>scriptdogsolution@gmail.com</h4>
                    </div>
                </div>
                <div class="pie">
                    <h4>COPYRIGHT 2022 - SCRIPT DOG SOLUTIONS 2022</h4>
                </div>
            </div> 
        </div>
      </div>
    </div>
  </nav>


  <!-- <li class="nav-item">
     
</li>

<li class="nav-item">
    <a  href="#nosotros">NOSOTROS</a>  
</li>

<li class="nav-item">
    <a  href="#servicio">SERVICIOS</a>
</li>

<li class="nav-item">
    <a  href="#partners">SOCIOS</a>              
</li>

<li class="nav-item">
    <a  href="#contact">CONTACTO</a>
</li> -->