<div class="scroll">
  <div class="contenedor">

    <div class="cabecera" id="home">
      <app-header></app-header>
    </div>
    
    <div class="menu sticky-top">
      <app-navbar></app-navbar>
    </div>
  
    <div class="menur sticky-top" id="inicio">
      <app-menur></app-menur>
    </div>
  
    <div class="inicio" >
      <app-inicio></app-inicio>
    </div>
    
    <div class="sobreNosotros" id="nosotros">    
      <app-sobre-nosotros></app-sobre-nosotros>
    </div>
    
    <div class="servicios" id="servicio">
      <app-servicios></app-servicios>
    </div>
  
    <!-- <div class="socios" id="partners">
      <app-socios></app-socios>
    </div> -->
    
    <div class="contacto" id="contact">
      <app-contacto></app-contacto>
    </div>
  
    <div class="pie">
      <app-footer></app-footer>
    </div>
  </div>
</div>



