<div class="contenedor">
    <div class="titulo" data-aos="zoom-in">
        <h1>SERVICIOS</h1>
    </div>
    <div class="servicio1" data-aos="flip-left" data-aos-duration="1500">
        <h1>CONSULTORIA</h1>
        <img src="assets/consultoriaWeb.png" alt="">
    </div>
    <div class="servicio2" data-aos="flip-left" data-aos-duration="1500">
        <h1>DISEÑO DE APP</h1>
        <img src="assets/diseñoAPP.png" alt="">
    </div>
    <div class="servicio3" data-aos="flip-left" data-aos-duration="1500">
        <h1>STREAMING</h1>
        <img src="assets/streaming.png" alt="">
    </div>
    <div class="servicio4" data-aos="flip-left" data-aos-duration="1500">
        <h1>DISEÑO WEB</h1>
        <img src="assets/DiseñoWeb.png" alt="">
    </div>
</div>

