.contenedor{
    display: grid;
    justify-items: center;
    align-items: center;
    height: 750px;
    margin-top: 50px;
}

.titulo{
    display: grid;
    align-items: center;
    justify-items: center;
    width: 500px;
    height: 10px;
    grid-column: 1/5;
}

h1{
    margin: 0;
}

.titulo h1{
    color: aliceblue;
    font-family: Dosis;
    font-weight: bolder;
    font-size: 100px;
}

.servicio1{
    
    background-color: #403C3Ada;
    box-shadow: 7px 7px 15px;
    border-radius: 10px;
    height: 400px;
    width: 350px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: center;
    justify-items: center;
    align-content: space-evenly;
}

.servicio1 h1 {
    color: aliceblue;
    font-family: Dosis;
    font-weight: bolder;
    font-size: 40px;
}

.servicio1 img {
    height: 250px;
}

.servicio2{
    background-color: #8EBFB6da;
    box-shadow: 7px 7px 15px;
    border-radius: 10px;
    height: 400px;
    width: 350px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: center;
    justify-items: center;
    align-content: space-evenly;
}

.servicio2 h1 {
    color: aliceblue;
    font-family: Dosis;
    font-weight: bolder;
    font-size: 40px;
    margin-top: 20px;
}

.servicio2 img {
    height: 300px;
}

.servicio3{
    
    background-color: #f2b28dda;
    box-shadow: 7px 7px 15px;
    border-radius: 10px;
    height: 400px;
    width: 350px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: center;
    justify-items: center;
    align-content: space-evenly;
}

.servicio3 h1 {
    color: aliceblue;
    font-family: Dosis;
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 50px;
}

.servicio3 img {
    height: 210px;
}

.servicio4{
    
    background-color: #79F2C6da;
    box-shadow: 7px 7px 15px;
    border-radius: 10px;
    height: 400px;
    width: 350px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.servicio4 h1 {
    color: aliceblue;
    font-family: Dosis;
    font-weight: bolder;
    font-size: 40px;    
    margin-top: 20px;
}

.servicio4 img {
    height: 300px;
}

@media(max-width:1440px){

    .contenedor{
        display: grid;
        grid-template-columns: auto auto;
        grid-row: 50px auto auto;
        justify-items: center;
        align-items: center;
        height: 1300px;
        margin-top: 50px;
    }

    .titulo{
        display: grid;
        align-items: center;
        justify-items: center;
        width: 500px;
        height: 10px;
        grid-column: 1/3;
    }
    
}

@media(max-width:850px){

    .contenedor{
        display: grid;
        grid-template-columns: auto;
        grid-row: 50px auto auto auto auto;
        justify-items: center;
        align-items: center;
        height: 2200px;
        margin-top: 50px;
    }

    .titulo{
        display: grid;
        align-items: center;
        justify-items: center;
        width: 500px;
        height: 10px;
        grid-column: 1/2;
    }
    
}


@media (max-width:640px) {

    .titulo h1{
        color: aliceblue;
        font-family: Dosis;
        font-weight: bolder;
        font-size: 70px;
        margin-top: 30px; 
    }
    
}

@media (max-width:414px) {

    
    .titulo{
        display: grid;
        align-items: center;
        justify-items: center;
        width: 350px;
        height: 10px;
    }
    
    h1{
        margin: 0;
    }
    
    .titulo h1{
        color: aliceblue;
        font-family: Dosis;
        font-weight: bolder;
        font-size: 50px;
    }
    
    .servicio1{
        
        background-color: #403C3Ada;
        box-shadow: 7px 7px 15px;
        border-radius: 10px;
        height: 350px;
        width: 300px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        justify-content: center;
        justify-items: center;
        align-content: space-evenly;
    }
    
    .servicio1 h1 {
        color: aliceblue;
        font-family: Dosis;
        font-weight: bolder;
        font-size: 30px;
    }
    
    .servicio1 img {
        height: 200px;
    }
    
    .servicio2{
        background-color: #8EBFB6da;
        box-shadow: 7px 7px 15px;
        border-radius: 10px;
        height: 350px;
        width: 300px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        justify-content: center;
        justify-items: center;
        align-content: space-evenly;
    }
    
    .servicio2 h1 {
        color: aliceblue;
        font-family: Dosis;
        font-weight: bolder;
        font-size: 30px;
        margin-top: 20px;
    }
    
    .servicio2 img {
        height: 250px;
    }
    
    .servicio3{
        
        background-color: #f2b28dda;
        box-shadow: 7px 7px 15px;
        border-radius: 10px;
        height: 350px;
        width: 300px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        justify-content: center;
        justify-items: center;
        align-content: space-evenly;
    }
    
    .servicio3 h1 {
        color: aliceblue;
        font-family: Dosis;
        font-weight: bolder;
        font-size: 30px;
        margin-bottom: 50px;
    }
    
    .servicio3 img {
        height: 170px;
    }
    
    .servicio4{
        
        background-color: #79F2C6da;
        box-shadow: 7px 7px 15px;
        border-radius: 10px;
        height: 350px;
        width: 300px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        justify-content: center;
        align-content: center;
        align-items: center;
        justify-items: center;
    }
    
    .servicio4 h1 {
        color: aliceblue;
        font-family: Dosis;
        font-weight: bolder;
        font-size: 30px;    
        margin-top: 20px;
    }
    
    .servicio4 img {
        height: 250px;
    }
    
}

@media (max-width:375px) {

    
    
    .titulo{
        display: grid;
        align-items: center;
        justify-items: center;
        width: 350px;
        height: 10px;
    }
    
    h1{
        margin: 0;
    }
    
    .titulo h1{
        color: aliceblue;
        font-family: Dosis;
        font-weight: bolder;
        font-size: 50px;
    }
    
    .servicio1{
        
        background-color: #403C3Ada;
        box-shadow: 7px 7px 15px;
        border-radius: 10px;
        height: 350px;
        width: 300px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        justify-content: center;
        justify-items: center;
        align-content: space-evenly;
    }
    
    .servicio1 h1 {
        color: aliceblue;
        font-family: Dosis;
        font-weight: bolder;
        font-size: 30px;
    }
    
    .servicio1 img {
        height: 200px;
    }
    
    .servicio2{
        background-color: #8EBFB6da;
        box-shadow: 7px 7px 15px;
        border-radius: 10px;
        height: 350px;
        width: 300px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        justify-content: center;
        justify-items: center;
        align-content: space-evenly;
    }
    
    .servicio2 h1 {
        color: aliceblue;
        font-family: Dosis;
        font-weight: bolder;
        font-size: 30px;
        margin-top: 20px;
    }
    
    .servicio2 img {
        height: 250px;
    }
    
    .servicio3{
        
        background-color: #f2b28dda;
        box-shadow: 7px 7px 15px;
        border-radius: 10px;
        height: 350px;
        width: 300px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        justify-content: center;
        justify-items: center;
        align-content: space-evenly;
    }
    
    .servicio3 h1 {
        color: aliceblue;
        font-family: Dosis;
        font-weight: bolder;
        font-size: 30px;
        margin-bottom: 50px;
    }
    
    .servicio3 img {
        height: 170px;
    }
    
    .servicio4{
        
        background-color: #79F2C6da;
        box-shadow: 7px 7px 15px;
        border-radius: 10px;
        height: 350px;
        width: 300px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        justify-content: center;
        align-content: center;
        align-items: center;
        justify-items: center;
    }
    
    .servicio4 h1 {
        color: aliceblue;
        font-family: Dosis;
        font-weight: bolder;
        font-size: 30px;    
        margin-top: 20px;
    }
    
    .servicio4 img {
        height: 250px;
    }
    
}

