<div class="contenedor container" data-aos="zoom-out-up" data-aos-duration="2000">
    <div class="titulo" >
        <h1>SCRIPTDOG</h1>
    </div>
    <div class="subtitulo">
        <h1>SOLUTION</h1>
    </div>
    <div class="descripcion">
       <p>Acompañandote en cada etapa de tu proyecto, Somos una empresa especialista
        en desarrollo integral de sofware personalizado para tus necesidades.</p>
    </div>
    <div class="boton">
        <a href="#contact">
            <button class="btn btn-dark" >
                CONTACTO
            </button>
        </a>
    </div>
</div>
