.contenedor{    
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 150px 80px 80px 100px;
    align-items: center;
    justify-items: center;
    padding: 0;
    color: aliceblue;    
}

.titulo h1{    
    font-size:160px;     
    font-family: Dosis;
    font-weight:bolder;    
    margin: 0;
   
}

.subtitulo h1{
    font-size:80px;
    font-family: Dosis;    
    margin: 0;
}


.descripcion p{
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    font-family: Dosis;
    text-shadow: 7px 7px 4px black;
}

.boton button{
    height: 50px;
    width: 200px;
    border-radius: 50px;
    background-color: #0D0D0D;
}

@media (max-width:800px){

    .data-aos{
        display: none;
    }

    .titulo h1{    
        font-size:130px;     
        font-family: Dosis;
        font-weight:bolder;    
        margin: 0;
    }
    
    .subtitulo h1{
        font-size:50px;
        font-family: Dosis;    
        margin: 0;
    }
    
    
    .descripcion p{
        text-align: center;
        font-size: 20px;
        line-height: 30px;
        font-family: Dosis;
    }
    
    .boton button{
        height: 40px;
        width: 150px;
        border-radius: 50px;
        background-color: #0D0D0D;
    }

}

@media (max-width:640px){

    .contenedor{    
        display: grid;
        grid-template-columns: 480px;
        grid-template-rows: 150px 80px 200px 50px;
        align-items: center;
        justify-items: center;
        padding: 0;
        color: aliceblue;    
    }

    .titulo h1{    
        font-size:100px;     
        font-family: Dosis;
        font-weight:bolder;    
        margin: 0;
    }

    .descripcion p{
        text-align: center;
        font-size: 20px;
        line-height: 30px;
        font-family: Dosis;
    }

}



@media (max-width:414px){

    .titulo h1{    
        font-size:80px;     
        font-family: Dosis;
        font-weight:bolder;    
        margin: 0;
    }

    .subtitulo h1{
        font-size:50px;
        font-family: Dosis;    
        margin: 0;
    }

    .contenedor{    
        display: grid;
        grid-template-columns: 375px;
        grid-template-rows: 150px 80px 200px 50px;
        align-items: center;
        justify-items: center;
        padding: 0;
        color: aliceblue;    
    }

}

@media (max-width:375px){

    .titulo h1{    
        font-size:60px;     
        font-family: Dosis;
        font-weight:bolder;    
        margin: 0;
    }

    .subtitulo h1{
        font-size:40px;
        font-family: Dosis;    
        margin: 0;
    }

    .contenedor{    
        display: grid;
        grid-template-columns: 375px;
        grid-template-rows: 150px 80px 200px 50px;
        align-items: center;
        justify-items: center;
        padding: 0;
        color: aliceblue;    
    }

}

@media (max-width:375px){
    .contenedor{
        grid-template-columns: 360px;
    }
}